@charset "UTF-8";
/* #! scss */
body {
  background: black;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}
@-ms-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}
.shimmer {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2.4em;
  margin: 0 auto;
  padding: 0 0 0 0;
  margin-bottom: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed8080', endColorstr='#5eb524',GradientType=1 );
  background-repeat: no-repeat;
  background-position: top left;
  background-color: #222222;
  color: transparent;
}

.gr1 {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed8080', endColorstr='#5eb524',GradientType=1 );
  background: -webkit-linear-gradient(left, #ed8080 0%, #2a77d6 16%, #5eb524 32%, #eacd25 48%, #ed8080 64%, #2a77d6 80%, #5eb524 100%);
  background: -moz-linear-gradient(left, #ed8080 0%, #2a77d6 16%, #5eb524 32%, #eacd25 48%, #ed8080 64%, #2a77d6 80%, #5eb524 100%);
  background: -ms-linear-gradient(left, #ed8080 0%, #2a77d6 16%, #5eb524 32%, #eacd25 48%, #ed8080 64%, #2a77d6 80%, #5eb524 100%);
  background: -o-linear-gradient(left, #ed8080 0%, #2a77d6 16%, #5eb524 32%, #eacd25 48%, #ed8080 64%, #2a77d6 80%, #5eb524 100%);
  background: linear-gradient(left, #ed8080 0%, #2a77d6 16%, #5eb524 32%, #eacd25 48%, #ed8080 64%, #2a77d6 80%, #5eb524 100%);
  -webkit-background-size: 300% 300%;
  -moz-background-size: 300% 300%;
  -ms-background-size: 300% 300%;
  -o-background-size: 300% 300%;
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-animation: shimmer 5s ease 0 infinite normal;
  -moz-animation: shimmer 5s ease 0 infinite normal;
  -ms-animation: shimmer 5s ease 0 infinite normal;
  -o-animation: shimmer 5s ease 0 infinite normal;
  animation: shimmer 5s ease 0 infinite normal;
}

.gr2 {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a77d6', endColorstr='#ed8080',GradientType=1 );
  background: -webkit-linear-gradient(left, #2a77d6 0%, #5eb524 16%, #eacd25 32%, #ed8080 48%, #2a77d6 64%, #5eb524 80%, #ed8080 100%);
  background: -moz-linear-gradient(left, #2a77d6 0%, #5eb524 16%, #eacd25 32%, #ed8080 48%, #2a77d6 64%, #5eb524 80%, #ed8080 100%);
  background: -ms-linear-gradient(left, #2a77d6 0%, #5eb524 16%, #eacd25 32%, #ed8080 48%, #2a77d6 64%, #5eb524 80%, #ed8080 100%);
  background: -o-linear-gradient(left, #2a77d6 0%, #5eb524 16%, #eacd25 32%, #ed8080 48%, #2a77d6 64%, #5eb524 80%, #ed8080 100%);
  background: linear-gradient(left, #2a77d6 0%, #5eb524 16%, #eacd25 32%, #ed8080 48%, #2a77d6 64%, #5eb524 80%, #ed8080 100%);
  -webkit-background-size: 300% 300%;
  -moz-background-size: 300% 300%;
  -ms-background-size: 300% 300%;
  -o-background-size: 300% 300%;
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-animation: shimmer 5s ease 0 infinite normal;
  -moz-animation: shimmer 5s ease 0 infinite normal;
  -ms-animation: shimmer 5s ease 0 infinite normal;
  -o-animation: shimmer 5s ease 0 infinite normal;
  animation: shimmer 5s ease 0 infinite normal;
}

.gr3 {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5eb524', endColorstr='#2a77d6',GradientType=1 );
  background: -webkit-linear-gradient(left, #5eb524 0%, #eacd25 16%, #ed8080 32%, #2a77d6 48%, #5eb524 64%, #ed8080 80%, #2a77d6 100%);
  background: -moz-linear-gradient(left, #5eb524 0%, #eacd25 16%, #ed8080 32%, #2a77d6 48%, #5eb524 64%, #ed8080 80%, #2a77d6 100%);
  background: -ms-linear-gradient(left, #5eb524 0%, #eacd25 16%, #ed8080 32%, #2a77d6 48%, #5eb524 64%, #ed8080 80%, #2a77d6 100%);
  background: -o-linear-gradient(left, #5eb524 0%, #eacd25 16%, #ed8080 32%, #2a77d6 48%, #5eb524 64%, #ed8080 80%, #2a77d6 100%);
  background: linear-gradient(left, #5eb524 0%, #eacd25 16%, #ed8080 32%, #2a77d6 48%, #5eb524 64%, #ed8080 80%, #2a77d6 100%);
  -webkit-background-size: 300% 300%;
  -moz-background-size: 300% 300%;
  -ms-background-size: 300% 300%;
  -o-background-size: 300% 300%;
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-animation: shimmer 5s ease 0 infinite normal;
  -moz-animation: shimmer 5s ease 0 infinite normal;
  -ms-animation: shimmer 5s ease 0 infinite normal;
  -o-animation: shimmer 5s ease 0 infinite normal;
  animation: shimmer 5s ease 0 infinite normal;
}

.gr4 {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eacd25', endColorstr='#5eb524',GradientType=1 );
  background: -webkit-linear-gradient(left, #eacd25 0%, #ed8080 16%, #2a77d6 32%, #5eb524 48%, #ed8080 64%, #2a77d6 80%, #5eb524 100%);
  background: -moz-linear-gradient(left, #eacd25 0%, #ed8080 16%, #2a77d6 32%, #5eb524 48%, #ed8080 64%, #2a77d6 80%, #5eb524 100%);
  background: -ms-linear-gradient(left, #eacd25 0%, #ed8080 16%, #2a77d6 32%, #5eb524 48%, #ed8080 64%, #2a77d6 80%, #5eb524 100%);
  background: -o-linear-gradient(left, #eacd25 0%, #ed8080 16%, #2a77d6 32%, #5eb524 48%, #ed8080 64%, #2a77d6 80%, #5eb524 100%);
  background: linear-gradient(left, #eacd25 0%, #ed8080 16%, #2a77d6 32%, #5eb524 48%, #ed8080 64%, #2a77d6 80%, #5eb524 100%);
  -webkit-background-size: 300% 300%;
  -moz-background-size: 300% 300%;
  -ms-background-size: 300% 300%;
  -o-background-size: 300% 300%;
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-animation: shimmer 5s ease 0 infinite normal;
  -moz-animation: shimmer 5s ease 0 infinite normal;
  -ms-animation: shimmer 5s ease 0 infinite normal;
  -o-animation: shimmer 5s ease 0 infinite normal;
  animation: shimmer 5s ease 0 infinite normal;
}

.grd1 {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed8080', endColorstr='#5eb524',GradientType=1 );
  background: -webkit-linear-gradient(left, #aa0000 0%, #aa5500 4%, #aaaa00 9%, #55aa00 13%, #00aa00 17%, #00aa55 22%, #00aaaa 26%, #0055aa 30%, #0000aa 34%, #5500aa 39%, #aa00aa 43%, #aa0055 47%, #aa0000 52%, #aa5500 56%, #aaaa00 60%, #55aa00 65%, #00aa00 69%, #00aa55 73%, #00aaaa 77%, #0055aa 82%, #0000aa 86%, #5500aa 90%, #aa00aa 95%, #aa0055 100%);
  background: -moz-linear-gradient(left, #aa0000 0%, #aa5500 4%, #aaaa00 9%, #55aa00 13%, #00aa00 17%, #00aa55 22%, #00aaaa 26%, #0055aa 30%, #0000aa 34%, #5500aa 39%, #aa00aa 43%, #aa0055 47%, #aa0000 52%, #aa5500 56%, #aaaa00 60%, #55aa00 65%, #00aa00 69%, #00aa55 73%, #00aaaa 77%, #0055aa 82%, #0000aa 86%, #5500aa 90%, #aa00aa 95%, #aa0055 100%);
  background: -ms-linear-gradient(left, #aa0000 0%, #aa5500 4%, #aaaa00 9%, #55aa00 13%, #00aa00 17%, #00aa55 22%, #00aaaa 26%, #0055aa 30%, #0000aa 34%, #5500aa 39%, #aa00aa 43%, #aa0055 47%, #aa0000 52%, #aa5500 56%, #aaaa00 60%, #55aa00 65%, #00aa00 69%, #00aa55 73%, #00aaaa 77%, #0055aa 82%, #0000aa 86%, #5500aa 90%, #aa00aa 95%, #aa0055 100%);
  background: -o-linear-gradient(left, #aa0000 0%, #aa5500 4%, #aaaa00 9%, #55aa00 13%, #00aa00 17%, #00aa55 22%, #00aaaa 26%, #0055aa 30%, #0000aa 34%, #5500aa 39%, #aa00aa 43%, #aa0055 47%, #aa0000 52%, #aa5500 56%, #aaaa00 60%, #55aa00 65%, #00aa00 69%, #00aa55 73%, #00aaaa 77%, #0055aa 82%, #0000aa 86%, #5500aa 90%, #aa00aa 95%, #aa0055 100%);
  background: linear-gradient(left, #aa0000 0%, #aa5500 4%, #aaaa00 9%, #55aa00 13%, #00aa00 17%, #00aa55 22%, #00aaaa 26%, #0055aa 30%, #0000aa 34%, #5500aa 39%, #aa00aa 43%, #aa0055 47%, #aa0000 52%, #aa5500 56%, #aaaa00 60%, #55aa00 65%, #00aa00 69%, #00aa55 73%, #00aaaa 77%, #0055aa 82%, #0000aa 86%, #5500aa 90%, #aa00aa 95%, #aa0055 100%);
  -webkit-background-size: 800% 800%;
  -moz-background-size: 800% 800%;
  -ms-background-size: 800% 800%;
  -o-background-size: 800% 800%;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-animation: shimmer 20s ease 0 infinite normal;
  -moz-animation: shimmer 20s ease 0 infinite normal;
  -ms-animation: shimmer 20s ease 0 infinite normal;
  -o-animation: shimmer 20s ease 0 infinite normal;
  animation: shimmer 20s ease 0 infinite normal;
}

.grd2 {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa5500', endColorstr='#aa0000',GradientType=1 );
  background: -webkit-linear-gradient(left, #aa5500 0%, #aaaa00 4%, #55aa00 9%, #00aa00 13%, #00aa55 17%, #00aaaa 22%, #0055aa 26%, #0000aa 30%, #5500aa 34%, #aa00aa 39%, #aa0055 43%, #aa0000 47%, #aa5500 52%, #aaaa00 56%, #55aa00 60%, #00aa00 65%, #00aa55 69%, #00aaaa 73%, #0055aa 77%, #0000aa 82%, #5500aa 86%, #aa00aa 90%, #aa0055 95%, #aa0000 100%);
  background: -moz-linear-gradient(left, #aa5500 0%, #aaaa00 4%, #55aa00 9%, #00aa00 13%, #00aa55 17%, #00aaaa 22%, #0055aa 26%, #0000aa 30%, #5500aa 34%, #aa00aa 39%, #aa0055 43%, #aa0000 47%, #aa5500 52%, #aaaa00 56%, #55aa00 60%, #00aa00 65%, #00aa55 69%, #00aaaa 73%, #0055aa 77%, #0000aa 82%, #5500aa 86%, #aa00aa 90%, #aa0055 95%, #aa0000 100%);
  background: -ms-linear-gradient(left, #aa5500 0%, #aaaa00 4%, #55aa00 9%, #00aa00 13%, #00aa55 17%, #00aaaa 22%, #0055aa 26%, #0000aa 30%, #5500aa 34%, #aa00aa 39%, #aa0055 43%, #aa0000 47%, #aa5500 52%, #aaaa00 56%, #55aa00 60%, #00aa00 65%, #00aa55 69%, #00aaaa 73%, #0055aa 77%, #0000aa 82%, #5500aa 86%, #aa00aa 90%, #aa0055 95%, #aa0000 100%);
  background: -o-linear-gradient(left, #aa5500 0%, #aaaa00 4%, #55aa00 9%, #00aa00 13%, #00aa55 17%, #00aaaa 22%, #0055aa 26%, #0000aa 30%, #5500aa 34%, #aa00aa 39%, #aa0055 43%, #aa0000 47%, #aa5500 52%, #aaaa00 56%, #55aa00 60%, #00aa00 65%, #00aa55 69%, #00aaaa 73%, #0055aa 77%, #0000aa 82%, #5500aa 86%, #aa00aa 90%, #aa0055 95%, #aa0000 100%);
  background: linear-gradient(left, #aa5500 0%, #aaaa00 4%, #55aa00 9%, #00aa00 13%, #00aa55 17%, #00aaaa 22%, #0055aa 26%, #0000aa 30%, #5500aa 34%, #aa00aa 39%, #aa0055 43%, #aa0000 47%, #aa5500 52%, #aaaa00 56%, #55aa00 60%, #00aa00 65%, #00aa55 69%, #00aaaa 73%, #0055aa 77%, #0000aa 82%, #5500aa 86%, #aa00aa 90%, #aa0055 95%, #aa0000 100%);
  -webkit-background-size: 800% 800%;
  -moz-background-size: 800% 800%;
  -ms-background-size: 800% 800%;
  -o-background-size: 800% 800%;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-animation: shimmer 20s ease 0 infinite normal;
  -moz-animation: shimmer 20s ease 0 infinite normal;
  -ms-animation: shimmer 20s ease 0 infinite normal;
  -o-animation: shimmer 20s ease 0 infinite normal;
  animation: shimmer 20s ease 0 infinite normal;
}

.grd3 {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaaa00', endColorstr='#aa5500',GradientType=1 );
  background: -webkit-linear-gradient(left, #aaaa00 0%, #55aa00 4%, #00aa00 9%, #00aa55 13%, #00aaaa 17%, #0055aa 22%, #0000aa 26%, #5500aa 30%, #aa00aa 34%, #aa0055 39%, #aa0000 43%, #aa5500 47%, #aaaa00 52%, #55aa00 56%, #00aa00 60%, #00aa55 65%, #00aaaa 69%, #0055aa 73%, #0000aa 77%, #5500aa 82%, #aa00aa 86%, #aa0055 90%, #aa0000 95%, #aa5500 100%);
  background: -moz-linear-gradient(left, #aaaa00 0%, #55aa00 4%, #00aa00 9%, #00aa55 13%, #00aaaa 17%, #0055aa 22%, #0000aa 26%, #5500aa 30%, #aa00aa 34%, #aa0055 39%, #aa0000 43%, #aa5500 47%, #aaaa00 52%, #55aa00 56%, #00aa00 60%, #00aa55 65%, #00aaaa 69%, #0055aa 73%, #0000aa 77%, #5500aa 82%, #aa00aa 86%, #aa0055 90%, #aa0000 95%, #aa5500 100%);
  background: -ms-linear-gradient(left, #aaaa00 0%, #55aa00 4%, #00aa00 9%, #00aa55 13%, #00aaaa 17%, #0055aa 22%, #0000aa 26%, #5500aa 30%, #aa00aa 34%, #aa0055 39%, #aa0000 43%, #aa5500 47%, #aaaa00 52%, #55aa00 56%, #00aa00 60%, #00aa55 65%, #00aaaa 69%, #0055aa 73%, #0000aa 77%, #5500aa 82%, #aa00aa 86%, #aa0055 90%, #aa0000 95%, #aa5500 100%);
  background: -o-linear-gradient(left, #aaaa00 0%, #55aa00 4%, #00aa00 9%, #00aa55 13%, #00aaaa 17%, #0055aa 22%, #0000aa 26%, #5500aa 30%, #aa00aa 34%, #aa0055 39%, #aa0000 43%, #aa5500 47%, #aaaa00 52%, #55aa00 56%, #00aa00 60%, #00aa55 65%, #00aaaa 69%, #0055aa 73%, #0000aa 77%, #5500aa 82%, #aa00aa 86%, #aa0055 90%, #aa0000 95%, #aa5500 100%);
  background: linear-gradient(left, #aaaa00 0%, #55aa00 4%, #00aa00 9%, #00aa55 13%, #00aaaa 17%, #0055aa 22%, #0000aa 26%, #5500aa 30%, #aa00aa 34%, #aa0055 39%, #aa0000 43%, #aa5500 47%, #aaaa00 52%, #55aa00 56%, #00aa00 60%, #00aa55 65%, #00aaaa 69%, #0055aa 73%, #0000aa 77%, #5500aa 82%, #aa00aa 86%, #aa0055 90%, #aa0000 95%, #aa5500 100%);
  -webkit-background-size: 800% 800%;
  -moz-background-size: 800% 800%;
  -ms-background-size: 800% 800%;
  -o-background-size: 800% 800%;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-animation: shimmer 20s ease 0 infinite normal;
  -moz-animation: shimmer 20s ease 0 infinite normal;
  -ms-animation: shimmer 20s ease 0 infinite normal;
  -o-animation: shimmer 20s ease 0 infinite normal;
  animation: shimmer 20s ease 0 infinite normal;
}

.grd4 {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#55aa00', endColorstr='#aaaa00',GradientType=1 );
  background: -webkit-linear-gradient(left, #55aa00 0%, #00aa00 4%, #00aa55 9%, #00aaaa 13%, #0055aa 17%, #0000aa 22%, #5500aa 26%, #aa00aa 30%, #aa0055 34%, #aa0000 39%, #aa5500 43%, #aaaa00 47%, #55aa00 52%, #00aa00 56%, #00aa55 60%, #00aaaa 65%, #0055aa 69%, #0000aa 73%, #5500aa 77%, #aa00aa 82%, #aa0055 86%, #aa0000 90%, #aa5500 95%, #aaaa00 100%);
  background: -moz-linear-gradient(left, #55aa00 0%, #00aa00 4%, #00aa55 9%, #00aaaa 13%, #0055aa 17%, #0000aa 22%, #5500aa 26%, #aa00aa 30%, #aa0055 34%, #aa0000 39%, #aa5500 43%, #aaaa00 47%, #55aa00 52%, #00aa00 56%, #00aa55 60%, #00aaaa 65%, #0055aa 69%, #0000aa 73%, #5500aa 77%, #aa00aa 82%, #aa0055 86%, #aa0000 90%, #aa5500 95%, #aaaa00 100%);
  background: -ms-linear-gradient(left, #55aa00 0%, #00aa00 4%, #00aa55 9%, #00aaaa 13%, #0055aa 17%, #0000aa 22%, #5500aa 26%, #aa00aa 30%, #aa0055 34%, #aa0000 39%, #aa5500 43%, #aaaa00 47%, #55aa00 52%, #00aa00 56%, #00aa55 60%, #00aaaa 65%, #0055aa 69%, #0000aa 73%, #5500aa 77%, #aa00aa 82%, #aa0055 86%, #aa0000 90%, #aa5500 95%, #aaaa00 100%);
  background: -o-linear-gradient(left, #55aa00 0%, #00aa00 4%, #00aa55 9%, #00aaaa 13%, #0055aa 17%, #0000aa 22%, #5500aa 26%, #aa00aa 30%, #aa0055 34%, #aa0000 39%, #aa5500 43%, #aaaa00 47%, #55aa00 52%, #00aa00 56%, #00aa55 60%, #00aaaa 65%, #0055aa 69%, #0000aa 73%, #5500aa 77%, #aa00aa 82%, #aa0055 86%, #aa0000 90%, #aa5500 95%, #aaaa00 100%);
  background: linear-gradient(left, #55aa00 0%, #00aa00 4%, #00aa55 9%, #00aaaa 13%, #0055aa 17%, #0000aa 22%, #5500aa 26%, #aa00aa 30%, #aa0055 34%, #aa0000 39%, #aa5500 43%, #aaaa00 47%, #55aa00 52%, #00aa00 56%, #00aa55 60%, #00aaaa 65%, #0055aa 69%, #0000aa 73%, #5500aa 77%, #aa00aa 82%, #aa0055 86%, #aa0000 90%, #aa5500 95%, #aaaa00 100%);
  -webkit-background-size: 800% 800%;
  -moz-background-size: 800% 800%;
  -ms-background-size: 800% 800%;
  -o-background-size: 800% 800%;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-animation: shimmer 20s ease 0 infinite normal;
  -moz-animation: shimmer 20s ease 0 infinite normal;
  -ms-animation: shimmer 20s ease 0 infinite normal;
  -o-animation: shimmer 20s ease 0 infinite normal;
  animation: shimmer 20s ease 0 infinite normal;
}

.grd5 {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00aa00', endColorstr='#55aa00',GradientType=1 );
  background: -webkit-linear-gradient(left, #00aa00 0%, #00aa55 4%, #00aaaa 9%, #0055aa 13%, #0000aa 17%, #5500aa 22%, #aa00aa 26%, #aa0055 30%, #aa0000 34%, #aa5500 39%, #aaaa00 43%, #55aa00 47%, #00aa00 52%, #00aa55 56%, #00aaaa 60%, #0055aa 65%, #0000aa 69%, #5500aa 73%, #aa00aa 77%, #aa0055 82%, #aa0000 86%, #aa5500 90%, #aaaa00 95%, #55aa00 100%);
  background: -moz-linear-gradient(left, #00aa00 0%, #00aa55 4%, #00aaaa 9%, #0055aa 13%, #0000aa 17%, #5500aa 22%, #aa00aa 26%, #aa0055 30%, #aa0000 34%, #aa5500 39%, #aaaa00 43%, #55aa00 47%, #00aa00 52%, #00aa55 56%, #00aaaa 60%, #0055aa 65%, #0000aa 69%, #5500aa 73%, #aa00aa 77%, #aa0055 82%, #aa0000 86%, #aa5500 90%, #aaaa00 95%, #55aa00 100%);
  background: -ms-linear-gradient(left, #00aa00 0%, #00aa55 4%, #00aaaa 9%, #0055aa 13%, #0000aa 17%, #5500aa 22%, #aa00aa 26%, #aa0055 30%, #aa0000 34%, #aa5500 39%, #aaaa00 43%, #55aa00 47%, #00aa00 52%, #00aa55 56%, #00aaaa 60%, #0055aa 65%, #0000aa 69%, #5500aa 73%, #aa00aa 77%, #aa0055 82%, #aa0000 86%, #aa5500 90%, #aaaa00 95%, #55aa00 100%);
  background: -o-linear-gradient(left, #00aa00 0%, #00aa55 4%, #00aaaa 9%, #0055aa 13%, #0000aa 17%, #5500aa 22%, #aa00aa 26%, #aa0055 30%, #aa0000 34%, #aa5500 39%, #aaaa00 43%, #55aa00 47%, #00aa00 52%, #00aa55 56%, #00aaaa 60%, #0055aa 65%, #0000aa 69%, #5500aa 73%, #aa00aa 77%, #aa0055 82%, #aa0000 86%, #aa5500 90%, #aaaa00 95%, #55aa00 100%);
  background: linear-gradient(left, #00aa00 0%, #00aa55 4%, #00aaaa 9%, #0055aa 13%, #0000aa 17%, #5500aa 22%, #aa00aa 26%, #aa0055 30%, #aa0000 34%, #aa5500 39%, #aaaa00 43%, #55aa00 47%, #00aa00 52%, #00aa55 56%, #00aaaa 60%, #0055aa 65%, #0000aa 69%, #5500aa 73%, #aa00aa 77%, #aa0055 82%, #aa0000 86%, #aa5500 90%, #aaaa00 95%, #55aa00 100%);
  -webkit-background-size: 800% 800%;
  -moz-background-size: 800% 800%;
  -ms-background-size: 800% 800%;
  -o-background-size: 800% 800%;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-animation: shimmer 20s ease 0 infinite normal;
  -moz-animation: shimmer 20s ease 0 infinite normal;
  -ms-animation: shimmer 20s ease 0 infinite normal;
  -o-animation: shimmer 20s ease 0 infinite normal;
  animation: shimmer 20s ease 0 infinite normal;
}

.grd6 {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00aa55', endColorstr='#00aa00',GradientType=1 );
  background: -webkit-linear-gradient(left, #00aa55 0%, #00aaaa 4%, #0055aa 9%, #0000aa 13%, #5500aa 17%, #aa00aa 22%, #aa0055 26%, #aa0000 30%, #aa5500 34%, #aaaa00 39%, #55aa00 43%, #00aa00 47%, #00aa55 52%, #00aaaa 56%, #0055aa 60%, #0000aa 65%, #5500aa 69%, #aa00aa 73%, #aa0055 77%, #aa0000 82%, #aa5500 86%, #aaaa00 90%, #55aa00 95%, #00aa00 100%);
  background: -moz-linear-gradient(left, #00aa55 0%, #00aaaa 4%, #0055aa 9%, #0000aa 13%, #5500aa 17%, #aa00aa 22%, #aa0055 26%, #aa0000 30%, #aa5500 34%, #aaaa00 39%, #55aa00 43%, #00aa00 47%, #00aa55 52%, #00aaaa 56%, #0055aa 60%, #0000aa 65%, #5500aa 69%, #aa00aa 73%, #aa0055 77%, #aa0000 82%, #aa5500 86%, #aaaa00 90%, #55aa00 95%, #00aa00 100%);
  background: -ms-linear-gradient(left, #00aa55 0%, #00aaaa 4%, #0055aa 9%, #0000aa 13%, #5500aa 17%, #aa00aa 22%, #aa0055 26%, #aa0000 30%, #aa5500 34%, #aaaa00 39%, #55aa00 43%, #00aa00 47%, #00aa55 52%, #00aaaa 56%, #0055aa 60%, #0000aa 65%, #5500aa 69%, #aa00aa 73%, #aa0055 77%, #aa0000 82%, #aa5500 86%, #aaaa00 90%, #55aa00 95%, #00aa00 100%);
  background: -o-linear-gradient(left, #00aa55 0%, #00aaaa 4%, #0055aa 9%, #0000aa 13%, #5500aa 17%, #aa00aa 22%, #aa0055 26%, #aa0000 30%, #aa5500 34%, #aaaa00 39%, #55aa00 43%, #00aa00 47%, #00aa55 52%, #00aaaa 56%, #0055aa 60%, #0000aa 65%, #5500aa 69%, #aa00aa 73%, #aa0055 77%, #aa0000 82%, #aa5500 86%, #aaaa00 90%, #55aa00 95%, #00aa00 100%);
  background: linear-gradient(left, #00aa55 0%, #00aaaa 4%, #0055aa 9%, #0000aa 13%, #5500aa 17%, #aa00aa 22%, #aa0055 26%, #aa0000 30%, #aa5500 34%, #aaaa00 39%, #55aa00 43%, #00aa00 47%, #00aa55 52%, #00aaaa 56%, #0055aa 60%, #0000aa 65%, #5500aa 69%, #aa00aa 73%, #aa0055 77%, #aa0000 82%, #aa5500 86%, #aaaa00 90%, #55aa00 95%, #00aa00 100%);
  -webkit-background-size: 800% 800%;
  -moz-background-size: 800% 800%;
  -ms-background-size: 800% 800%;
  -o-background-size: 800% 800%;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-animation: shimmer 20s ease 0 infinite normal;
  -moz-animation: shimmer 20s ease 0 infinite normal;
  -ms-animation: shimmer 20s ease 0 infinite normal;
  -o-animation: shimmer 20s ease 0 infinite normal;
  animation: shimmer 20s ease 0 infinite normal;
}

.grd7 {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00aaaa', endColorstr='#00aa55',GradientType=1 );
  background: -webkit-linear-gradient(left, #00aaaa 0%, #0055aa 4%, #0000aa 9%, #5500aa 13%, #aa00aa 17%, #aa0055 22%, #aa0000 26%, #aa5500 30%, #aaaa00 34%, #55aa00 39%, #00aa00 43%, #00aa55 47%, #00aaaa 52%, #0055aa 56%, #0000aa 60%, #5500aa 65%, #aa00aa 69%, #aa0055 73%, #aa0000 77%, #aa5500 82%, #aaaa00 86%, #55aa00 90%, #00aa00 95%, #00aa55 100%);
  background: -moz-linear-gradient(left, #00aaaa 0%, #0055aa 4%, #0000aa 9%, #5500aa 13%, #aa00aa 17%, #aa0055 22%, #aa0000 26%, #aa5500 30%, #aaaa00 34%, #55aa00 39%, #00aa00 43%, #00aa55 47%, #00aaaa 52%, #0055aa 56%, #0000aa 60%, #5500aa 65%, #aa00aa 69%, #aa0055 73%, #aa0000 77%, #aa5500 82%, #aaaa00 86%, #55aa00 90%, #00aa00 95%, #00aa55 100%);
  background: -ms-linear-gradient(left, #00aaaa 0%, #0055aa 4%, #0000aa 9%, #5500aa 13%, #aa00aa 17%, #aa0055 22%, #aa0000 26%, #aa5500 30%, #aaaa00 34%, #55aa00 39%, #00aa00 43%, #00aa55 47%, #00aaaa 52%, #0055aa 56%, #0000aa 60%, #5500aa 65%, #aa00aa 69%, #aa0055 73%, #aa0000 77%, #aa5500 82%, #aaaa00 86%, #55aa00 90%, #00aa00 95%, #00aa55 100%);
  background: -o-linear-gradient(left, #00aaaa 0%, #0055aa 4%, #0000aa 9%, #5500aa 13%, #aa00aa 17%, #aa0055 22%, #aa0000 26%, #aa5500 30%, #aaaa00 34%, #55aa00 39%, #00aa00 43%, #00aa55 47%, #00aaaa 52%, #0055aa 56%, #0000aa 60%, #5500aa 65%, #aa00aa 69%, #aa0055 73%, #aa0000 77%, #aa5500 82%, #aaaa00 86%, #55aa00 90%, #00aa00 95%, #00aa55 100%);
  background: linear-gradient(left, #00aaaa 0%, #0055aa 4%, #0000aa 9%, #5500aa 13%, #aa00aa 17%, #aa0055 22%, #aa0000 26%, #aa5500 30%, #aaaa00 34%, #55aa00 39%, #00aa00 43%, #00aa55 47%, #00aaaa 52%, #0055aa 56%, #0000aa 60%, #5500aa 65%, #aa00aa 69%, #aa0055 73%, #aa0000 77%, #aa5500 82%, #aaaa00 86%, #55aa00 90%, #00aa00 95%, #00aa55 100%);
  -webkit-background-size: 800% 800%;
  -moz-background-size: 800% 800%;
  -ms-background-size: 800% 800%;
  -o-background-size: 800% 800%;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-animation: shimmer 20s ease 0 infinite normal;
  -moz-animation: shimmer 20s ease 0 infinite normal;
  -ms-animation: shimmer 20s ease 0 infinite normal;
  -o-animation: shimmer 20s ease 0 infinite normal;
  animation: shimmer 20s ease 0 infinite normal;
}

.grd8 {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0055aa', endColorstr='#00aaaa',GradientType=1 );
  background: -webkit-linear-gradient(left, #0055aa 0%, #0000aa 4%, #5500aa 9%, #aa00aa 13%, #aa0055 17%, #aa0000 22%, #aa5500 26%, #aaaa00 30%, #55aa00 34%, #00aa00 39%, #00aa55 43%, #00aaaa 47%, #0055aa 52%, #0000aa 56%, #5500aa 60%, #aa00aa 65%, #aa0055 69%, #aa0000 73%, #aa5500 77%, #aaaa00 82%, #55aa00 86%, #00aa00 90%, #00aa55 95%, #00aaaa 100%);
  background: -moz-linear-gradient(left, #0055aa 0%, #0000aa 4%, #5500aa 9%, #aa00aa 13%, #aa0055 17%, #aa0000 22%, #aa5500 26%, #aaaa00 30%, #55aa00 34%, #00aa00 39%, #00aa55 43%, #00aaaa 47%, #0055aa 52%, #0000aa 56%, #5500aa 60%, #aa00aa 65%, #aa0055 69%, #aa0000 73%, #aa5500 77%, #aaaa00 82%, #55aa00 86%, #00aa00 90%, #00aa55 95%, #00aaaa 100%);
  background: -ms-linear-gradient(left, #0055aa 0%, #0000aa 4%, #5500aa 9%, #aa00aa 13%, #aa0055 17%, #aa0000 22%, #aa5500 26%, #aaaa00 30%, #55aa00 34%, #00aa00 39%, #00aa55 43%, #00aaaa 47%, #0055aa 52%, #0000aa 56%, #5500aa 60%, #aa00aa 65%, #aa0055 69%, #aa0000 73%, #aa5500 77%, #aaaa00 82%, #55aa00 86%, #00aa00 90%, #00aa55 95%, #00aaaa 100%);
  background: -o-linear-gradient(left, #0055aa 0%, #0000aa 4%, #5500aa 9%, #aa00aa 13%, #aa0055 17%, #aa0000 22%, #aa5500 26%, #aaaa00 30%, #55aa00 34%, #00aa00 39%, #00aa55 43%, #00aaaa 47%, #0055aa 52%, #0000aa 56%, #5500aa 60%, #aa00aa 65%, #aa0055 69%, #aa0000 73%, #aa5500 77%, #aaaa00 82%, #55aa00 86%, #00aa00 90%, #00aa55 95%, #00aaaa 100%);
  background: linear-gradient(left, #0055aa 0%, #0000aa 4%, #5500aa 9%, #aa00aa 13%, #aa0055 17%, #aa0000 22%, #aa5500 26%, #aaaa00 30%, #55aa00 34%, #00aa00 39%, #00aa55 43%, #00aaaa 47%, #0055aa 52%, #0000aa 56%, #5500aa 60%, #aa00aa 65%, #aa0055 69%, #aa0000 73%, #aa5500 77%, #aaaa00 82%, #55aa00 86%, #00aa00 90%, #00aa55 95%, #00aaaa 100%);
  -webkit-background-size: 800% 800%;
  -moz-background-size: 800% 800%;
  -ms-background-size: 800% 800%;
  -o-background-size: 800% 800%;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-animation: shimmer 20s ease 0 infinite normal;
  -moz-animation: shimmer 20s ease 0 infinite normal;
  -ms-animation: shimmer 20s ease 0 infinite normal;
  -o-animation: shimmer 20s ease 0 infinite normal;
  animation: shimmer 20s ease 0 infinite normal;
}

.grd9 {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000aa', endColorstr='#0055aa',GradientType=1 );
  background: -webkit-linear-gradient(left, #0000aa 0%, #5500aa 4%, #aa00aa 9%, #aa0055 13%, #aa0000 17%, #aa5500 22%, #aaaa00 26%, #55aa00 30%, #00aa00 34%, #00aa55 39%, #00aaaa 43%, #0055aa 47%, #0000aa 52%, #5500aa 56%, #aa00aa 60%, #aa0055 65%, #aa0000 69%, #aa5500 73%, #aaaa00 77%, #55aa00 82%, #00aa00 86%, #00aa55 90%, #00aaaa 95%, #0055aa 100%);
  background: -moz-linear-gradient(left, #0000aa 0%, #5500aa 4%, #aa00aa 9%, #aa0055 13%, #aa0000 17%, #aa5500 22%, #aaaa00 26%, #55aa00 30%, #00aa00 34%, #00aa55 39%, #00aaaa 43%, #0055aa 47%, #0000aa 52%, #5500aa 56%, #aa00aa 60%, #aa0055 65%, #aa0000 69%, #aa5500 73%, #aaaa00 77%, #55aa00 82%, #00aa00 86%, #00aa55 90%, #00aaaa 95%, #0055aa 100%);
  background: -ms-linear-gradient(left, #0000aa 0%, #5500aa 4%, #aa00aa 9%, #aa0055 13%, #aa0000 17%, #aa5500 22%, #aaaa00 26%, #55aa00 30%, #00aa00 34%, #00aa55 39%, #00aaaa 43%, #0055aa 47%, #0000aa 52%, #5500aa 56%, #aa00aa 60%, #aa0055 65%, #aa0000 69%, #aa5500 73%, #aaaa00 77%, #55aa00 82%, #00aa00 86%, #00aa55 90%, #00aaaa 95%, #0055aa 100%);
  background: -o-linear-gradient(left, #0000aa 0%, #5500aa 4%, #aa00aa 9%, #aa0055 13%, #aa0000 17%, #aa5500 22%, #aaaa00 26%, #55aa00 30%, #00aa00 34%, #00aa55 39%, #00aaaa 43%, #0055aa 47%, #0000aa 52%, #5500aa 56%, #aa00aa 60%, #aa0055 65%, #aa0000 69%, #aa5500 73%, #aaaa00 77%, #55aa00 82%, #00aa00 86%, #00aa55 90%, #00aaaa 95%, #0055aa 100%);
  background: linear-gradient(left, #0000aa 0%, #5500aa 4%, #aa00aa 9%, #aa0055 13%, #aa0000 17%, #aa5500 22%, #aaaa00 26%, #55aa00 30%, #00aa00 34%, #00aa55 39%, #00aaaa 43%, #0055aa 47%, #0000aa 52%, #5500aa 56%, #aa00aa 60%, #aa0055 65%, #aa0000 69%, #aa5500 73%, #aaaa00 77%, #55aa00 82%, #00aa00 86%, #00aa55 90%, #00aaaa 95%, #0055aa 100%);
  -webkit-background-size: 800% 800%;
  -moz-background-size: 800% 800%;
  -ms-background-size: 800% 800%;
  -o-background-size: 800% 800%;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-animation: shimmer 20s ease 0 infinite normal;
  -moz-animation: shimmer 20s ease 0 infinite normal;
  -ms-animation: shimmer 20s ease 0 infinite normal;
  -o-animation: shimmer 20s ease 0 infinite normal;
  animation: shimmer 20s ease 0 infinite normal;
}

.grd10 {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5500aa', endColorstr='#0000aa',GradientType=1 );
  background: -webkit-linear-gradient(left, #5500aa 0%, #aa00aa 4%, #aa0055 9%, #aa0000 13%, #aa5500 17%, #aaaa00 22%, #55aa00 26%, #00aa00 30%, #00aa55 34%, #00aaaa 39%, #0055aa 43%, #0000aa 47%, #5500aa 52%, #aa00aa 56%, #aa0055 60%, #aa0000 65%, #aa5500 69%, #aaaa00 73%, #55aa00 77%, #00aa00 82%, #00aa55 86%, #00aaaa 90%, #0055aa 95%, #0000aa 100%);
  background: -moz-linear-gradient(left, #5500aa 0%, #aa00aa 4%, #aa0055 9%, #aa0000 13%, #aa5500 17%, #aaaa00 22%, #55aa00 26%, #00aa00 30%, #00aa55 34%, #00aaaa 39%, #0055aa 43%, #0000aa 47%, #5500aa 52%, #aa00aa 56%, #aa0055 60%, #aa0000 65%, #aa5500 69%, #aaaa00 73%, #55aa00 77%, #00aa00 82%, #00aa55 86%, #00aaaa 90%, #0055aa 95%, #0000aa 100%);
  background: -ms-linear-gradient(left, #5500aa 0%, #aa00aa 4%, #aa0055 9%, #aa0000 13%, #aa5500 17%, #aaaa00 22%, #55aa00 26%, #00aa00 30%, #00aa55 34%, #00aaaa 39%, #0055aa 43%, #0000aa 47%, #5500aa 52%, #aa00aa 56%, #aa0055 60%, #aa0000 65%, #aa5500 69%, #aaaa00 73%, #55aa00 77%, #00aa00 82%, #00aa55 86%, #00aaaa 90%, #0055aa 95%, #0000aa 100%);
  background: -o-linear-gradient(left, #5500aa 0%, #aa00aa 4%, #aa0055 9%, #aa0000 13%, #aa5500 17%, #aaaa00 22%, #55aa00 26%, #00aa00 30%, #00aa55 34%, #00aaaa 39%, #0055aa 43%, #0000aa 47%, #5500aa 52%, #aa00aa 56%, #aa0055 60%, #aa0000 65%, #aa5500 69%, #aaaa00 73%, #55aa00 77%, #00aa00 82%, #00aa55 86%, #00aaaa 90%, #0055aa 95%, #0000aa 100%);
  background: linear-gradient(left, #5500aa 0%, #aa00aa 4%, #aa0055 9%, #aa0000 13%, #aa5500 17%, #aaaa00 22%, #55aa00 26%, #00aa00 30%, #00aa55 34%, #00aaaa 39%, #0055aa 43%, #0000aa 47%, #5500aa 52%, #aa00aa 56%, #aa0055 60%, #aa0000 65%, #aa5500 69%, #aaaa00 73%, #55aa00 77%, #00aa00 82%, #00aa55 86%, #00aaaa 90%, #0055aa 95%, #0000aa 100%);
  -webkit-background-size: 800% 800%;
  -moz-background-size: 800% 800%;
  -ms-background-size: 800% 800%;
  -o-background-size: 800% 800%;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-animation: shimmer 20s ease 0 infinite normal;
  -moz-animation: shimmer 20s ease 0 infinite normal;
  -ms-animation: shimmer 20s ease 0 infinite normal;
  -o-animation: shimmer 20s ease 0 infinite normal;
  animation: shimmer 20s ease 0 infinite normal;
}

.grd11 {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa00aa', endColorstr='#5500aa',GradientType=1 );
  background: -webkit-linear-gradient(left, #aa00aa 0%, #aa0055 4%, #aa0000 9%, #aa5500 13%, #aaaa00 17%, #55aa00 22%, #00aa00 26%, #00aa55 30%, #00aaaa 34%, #0055aa 39%, #0000aa 43%, #5500aa 47%, #aa00aa 52%, #aa0055 56%, #aa0000 60%, #aa5500 65%, #aaaa00 69%, #55aa00 73%, #00aa00 77%, #00aa55 82%, #00aaaa 86%, #0055aa 90%, #0000aa 95%, #5500aa 100%);
  background: -moz-linear-gradient(left, #aa00aa 0%, #aa0055 4%, #aa0000 9%, #aa5500 13%, #aaaa00 17%, #55aa00 22%, #00aa00 26%, #00aa55 30%, #00aaaa 34%, #0055aa 39%, #0000aa 43%, #5500aa 47%, #aa00aa 52%, #aa0055 56%, #aa0000 60%, #aa5500 65%, #aaaa00 69%, #55aa00 73%, #00aa00 77%, #00aa55 82%, #00aaaa 86%, #0055aa 90%, #0000aa 95%, #5500aa 100%);
  background: -ms-linear-gradient(left, #aa00aa 0%, #aa0055 4%, #aa0000 9%, #aa5500 13%, #aaaa00 17%, #55aa00 22%, #00aa00 26%, #00aa55 30%, #00aaaa 34%, #0055aa 39%, #0000aa 43%, #5500aa 47%, #aa00aa 52%, #aa0055 56%, #aa0000 60%, #aa5500 65%, #aaaa00 69%, #55aa00 73%, #00aa00 77%, #00aa55 82%, #00aaaa 86%, #0055aa 90%, #0000aa 95%, #5500aa 100%);
  background: -o-linear-gradient(left, #aa00aa 0%, #aa0055 4%, #aa0000 9%, #aa5500 13%, #aaaa00 17%, #55aa00 22%, #00aa00 26%, #00aa55 30%, #00aaaa 34%, #0055aa 39%, #0000aa 43%, #5500aa 47%, #aa00aa 52%, #aa0055 56%, #aa0000 60%, #aa5500 65%, #aaaa00 69%, #55aa00 73%, #00aa00 77%, #00aa55 82%, #00aaaa 86%, #0055aa 90%, #0000aa 95%, #5500aa 100%);
  background: linear-gradient(left, #aa00aa 0%, #aa0055 4%, #aa0000 9%, #aa5500 13%, #aaaa00 17%, #55aa00 22%, #00aa00 26%, #00aa55 30%, #00aaaa 34%, #0055aa 39%, #0000aa 43%, #5500aa 47%, #aa00aa 52%, #aa0055 56%, #aa0000 60%, #aa5500 65%, #aaaa00 69%, #55aa00 73%, #00aa00 77%, #00aa55 82%, #00aaaa 86%, #0055aa 90%, #0000aa 95%, #5500aa 100%);
  -webkit-background-size: 800% 800%;
  -moz-background-size: 800% 800%;
  -ms-background-size: 800% 800%;
  -o-background-size: 800% 800%;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-animation: shimmer 20s ease 0 infinite normal;
  -moz-animation: shimmer 20s ease 0 infinite normal;
  -ms-animation: shimmer 20s ease 0 infinite normal;
  -o-animation: shimmer 20s ease 0 infinite normal;
  animation: shimmer 20s ease 0 infinite normal;
}

.grd12 {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa0055', endColorstr='#aa00aa',GradientType=1 );
  background: -webkit-linear-gradient(left, #aa0055 0%, #aa0000 4%, #aa5500 9%, #aaaa00 13%, #55aa00 17%, #00aa00 22%, #00aa55 26%, #00aaaa 30%, #0055aa 34%, #0000aa 39%, #5500aa 43%, #aa00aa 47%, #aa0055 52%, #aa0000 56%, #aa5500 60%, #aaaa00 65%, #55aa00 69%, #00aa00 73%, #00aa55 77%, #00aaaa 82%, #0055aa 86%, #0000aa 90%, #5500aa 95%, #aa00aa 100%);
  background: -moz-linear-gradient(left, #aa0055 0%, #aa0000 4%, #aa5500 9%, #aaaa00 13%, #55aa00 17%, #00aa00 22%, #00aa55 26%, #00aaaa 30%, #0055aa 34%, #0000aa 39%, #5500aa 43%, #aa00aa 47%, #aa0055 52%, #aa0000 56%, #aa5500 60%, #aaaa00 65%, #55aa00 69%, #00aa00 73%, #00aa55 77%, #00aaaa 82%, #0055aa 86%, #0000aa 90%, #5500aa 95%, #aa00aa 100%);
  background: -ms-linear-gradient(left, #aa0055 0%, #aa0000 4%, #aa5500 9%, #aaaa00 13%, #55aa00 17%, #00aa00 22%, #00aa55 26%, #00aaaa 30%, #0055aa 34%, #0000aa 39%, #5500aa 43%, #aa00aa 47%, #aa0055 52%, #aa0000 56%, #aa5500 60%, #aaaa00 65%, #55aa00 69%, #00aa00 73%, #00aa55 77%, #00aaaa 82%, #0055aa 86%, #0000aa 90%, #5500aa 95%, #aa00aa 100%);
  background: -o-linear-gradient(left, #aa0055 0%, #aa0000 4%, #aa5500 9%, #aaaa00 13%, #55aa00 17%, #00aa00 22%, #00aa55 26%, #00aaaa 30%, #0055aa 34%, #0000aa 39%, #5500aa 43%, #aa00aa 47%, #aa0055 52%, #aa0000 56%, #aa5500 60%, #aaaa00 65%, #55aa00 69%, #00aa00 73%, #00aa55 77%, #00aaaa 82%, #0055aa 86%, #0000aa 90%, #5500aa 95%, #aa00aa 100%);
  background: linear-gradient(left, #aa0055 0%, #aa0000 4%, #aa5500 9%, #aaaa00 13%, #55aa00 17%, #00aa00 22%, #00aa55 26%, #00aaaa 30%, #0055aa 34%, #0000aa 39%, #5500aa 43%, #aa00aa 47%, #aa0055 52%, #aa0000 56%, #aa5500 60%, #aaaa00 65%, #55aa00 69%, #00aa00 73%, #00aa55 77%, #00aaaa 82%, #0055aa 86%, #0000aa 90%, #5500aa 95%, #aa00aa 100%);
  -webkit-background-size: 800% 800%;
  -moz-background-size: 800% 800%;
  -ms-background-size: 800% 800%;
  -o-background-size: 800% 800%;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-animation: shimmer 20s ease 0 infinite normal;
  -moz-animation: shimmer 20s ease 0 infinite normal;
  -ms-animation: shimmer 20s ease 0 infinite normal;
  -o-animation: shimmer 20s ease 0 infinite normal;
  animation: shimmer 20s ease 0 infinite normal;
}

.words {
  width: 980px;
  height: 100%;
  position: relative;
  margin: 10% auto;
}

.word {
  display: block;
  position: absolute;
}

.word {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 44px;
}

.C1 {
  left: 502px;
  top: 339px;
  -webkit-transform: rotate(165deg);
  -moz-transform: rotate(165deg);
  -ms-transform: rotate(165deg);
  -o-transform: rotate(165deg);
  transform: rotate(165deg);
}

.C2 {
  left: 385px;
  top: 318px;
  -webkit-transform: rotate(213deg);
  -moz-transform: rotate(213deg);
  -ms-transform: rotate(213deg);
  -o-transform: rotate(213deg);
  transform: rotate(213deg);
}

.E1 {
  left: 628px;
  top: 103px;
  -webkit-transform: rotate(67deg);
  -moz-transform: rotate(67deg);
  -ms-transform: rotate(67deg);
  -o-transform: rotate(67deg);
  transform: rotate(67deg);
}

.E2 {
  left: 452px;
  top: 340px;
  -webkit-transform: rotate(188deg);
  -moz-transform: rotate(188deg);
  -ms-transform: rotate(188deg);
  -o-transform: rotate(188deg);
  transform: rotate(188deg);
}

.E3 {
  left: 362px;
  top: 301px;
  -webkit-transform: rotate(221deg);
  -moz-transform: rotate(221deg);
  -ms-transform: rotate(221deg);
  -o-transform: rotate(221deg);
  transform: rotate(221deg);
}

.sm-s1 {
  font-size: 39px !important;
  left: 332.2px;
  top: 78px;
  -webkit-transform: rotate(123deg);
  -moz-transform: rotate(123deg);
  -ms-transform: rotate(123deg);
  -o-transform: rotate(123deg);
  transform: rotate(123deg);
  font-size: 51px;
}

.sm-i1 {
  font-size: 39px !important;
  left: 329.2px;
  top: 93px;
  -webkit-transform: rotate(117deg);
  -moz-transform: rotate(117deg);
  -ms-transform: rotate(117deg);
  -o-transform: rotate(117deg);
  transform: rotate(117deg);
  font-size: 49px;
}

.sm-n1 {
  font-size: 39px !important;
  left: 314.2px;
  top: 111px;
  -webkit-transform: rotate(113deg);
  -moz-transform: rotate(113deg);
  -ms-transform: rotate(113deg);
  -o-transform: rotate(113deg);
  transform: rotate(113deg);
  font-size: 51px;
}

.sm-e1 {
  font-size: 39px;
  left: 305px;
  top: 156px;
  -webkit-transform: rotate(91deg);
  -moz-transform: rotate(91deg);
  -ms-transform: rotate(91deg);
  -o-transform: rotate(91deg);
  transform: rotate(91deg);
}

.sm-c1 {
  font-size: 39px;
  left: 308px;
  top: 134px;
  -webkit-transform: rotate(98deg);
  -moz-transform: rotate(98deg);
  -ms-transform: rotate(98deg);
  -o-transform: rotate(98deg);
  transform: rotate(98deg);
}

.F1 {
  left: 572px;
  top: 310px;
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  transform: rotate(144deg);
}

.I1 {
  font-size: 43px;
  left: 605px;
  top: 54px;
  -webkit-transform: rotate(47deg);
  -moz-transform: rotate(47deg);
  -ms-transform: rotate(47deg);
  -o-transform: rotate(47deg);
  transform: rotate(47deg);
}

.I2 {
  font-size: 43px;
  left: 649px;
  top: 194px;
  -webkit-transform: rotate(98deg);
  -moz-transform: rotate(98deg);
  -ms-transform: rotate(98deg);
  -o-transform: rotate(98deg);
  transform: rotate(98deg);
}

.I3 {
  font-size: 43px;
  left: 487px;
  top: 342px;
  -webkit-transform: rotate(178deg);
  -moz-transform: rotate(178deg);
  -ms-transform: rotate(178deg);
  -o-transform: rotate(178deg);
  transform: rotate(178deg);
}

.N1 {
  left: 572px;
  top: 33px;
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
}

.N2 {
  left: 417px;
  top: 332px;
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  transform: rotate(18deg);
}

.T1 {
  left: 368px;
  top: 36px;
  -webkit-transform: rotate(-39deg);
  -moz-transform: rotate(-39deg);
  -ms-transform: rotate(-39deg);
  -o-transform: rotate(-39deg);
  transform: rotate(-39deg);
}

.T2 {
  left: 634px;
  top: 219px;
  -webkit-transform: rotate(106deg);
  -moz-transform: rotate(106deg);
  -ms-transform: rotate(106deg);
  -o-transform: rotate(106deg);
  transform: rotate(106deg);
}

.U1 {
  left: 539px;
  top: 15px;
  -webkit-transform: rotate(26deg);
  -moz-transform: rotate(26deg);
  -ms-transform: rotate(26deg);
  -o-transform: rotate(26deg);
  transform: rotate(26deg);
}

.O1 {
  left: 393.2px;
  top: 18px;
  -webkit-transform: rotate(-24deg);
  -moz-transform: rotate(-24deg);
  -ms-transform: rotate(-24deg);
  -o-transform: rotate(-24deg);
  transform: rotate(-24deg);
}

.O2 {
  left: 492px;
  top: 0.3px;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}

.O3 {
  left: 595px;
  top: 288px;
  -webkit-transform: rotate(140deg);
  -moz-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  -o-transform: rotate(140deg);
  transform: rotate(140deg);
}

.R1 {
  left: 635px;
  top: 134px;
  -webkit-transform: rotate(77deg);
  -moz-transform: rotate(77deg);
  -ms-transform: rotate(77deg);
  -o-transform: rotate(77deg);
  transform: rotate(77deg);
}

.S1 {
  left: 641px;
  top: 167px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.S2 {
  left: 535px;
  top: 330px;
  -webkit-transform: rotate(160deg);
  -moz-transform: rotate(160deg);
  -ms-transform: rotate(160deg);
  -o-transform: rotate(160deg);
  transform: rotate(160deg);
}

.K1 {
  left: 429.2px;
  top: 4px;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.Y1 {
  left: 460.2px;
  top: 0px;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

.Y2 {
  left: 621px;
  top: 248px;
  -webkit-transform: rotate(118deg);
  -moz-transform: rotate(118deg);
  -ms-transform: rotate(118deg);
  -o-transform: rotate(118deg);
  transform: rotate(118deg);
}

.V1 {
  left: 611.2px;
  top: 76px;
  -webkit-transform: rotate(55deg);
  -moz-transform: rotate(55deg);
  -ms-transform: rotate(55deg);
  -o-transform: rotate(55deg);
  transform: rotate(55deg);
}

.num1-1 {
  font-family: serif;
  left: 303px;
  top: 193px;
  font-size: 39px;
  -webkit-transform: rotate(84deg);
  -moz-transform: rotate(84deg);
  -ms-transform: rotate(84deg);
  -o-transform: rotate(84deg);
  transform: rotate(84deg);
}

.num1-2 {
  font-family: serif;
  left: 329px;
  top: 266px;
  font-size: 39px;
  -webkit-transform: rotate(57deg);
  -moz-transform: rotate(57deg);
  -ms-transform: rotate(57deg);
  -o-transform: rotate(57deg);
  transform: rotate(57deg);
}

.num8-1 {
  font-family: serif;
  left: 308px;
  top: 218px;
  font-size: 39px;
  -webkit-transform: rotate(76deg);
  -moz-transform: rotate(76deg);
  -ms-transform: rotate(76deg);
  -o-transform: rotate(76deg);
  transform: rotate(76deg);
}

.num8-2 {
  font-family: serif;
  left: 316px;
  top: 243px;
  font-size: 39px;
  -webkit-transform: rotate(69deg);
  -moz-transform: rotate(69deg);
  -ms-transform: rotate(69deg);
  -o-transform: rotate(69deg);
  transform: rotate(69deg);
}

/*-------------たいへい------------- */
.taihei-c-r {
  position: absolute;
  width: 55px;
  height: 288px;
  top: 62px;
  overflow: hidden;
  left: 508px;
}

.taihei-c-l {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  position: absolute;
  width: 55px;
  height: 288px;
  top: 59px;
  overflow: hidden;
  left: 414px;
}

.taihei-c-t {
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  position: absolute;
  width: 55px;
  height: 280px;
  top: 15px;
  overflow: hidden;
  left: 461px;
}

.taihei-c-b {
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  position: absolute;
  width: 55px;
  height: 280px;
  top: 112px;
  overflow: hidden;
  left: 461px;
}

.taihei {
  width: 357px;
  height: 401px;
  border-right: 13px solid #398356;
  border-radius: 0px 50% 50% 0px;
  position: absolute;
  z-index: 99;
  left: -315px;
  top: -60px;
}

/*-------------がっ死ー------------- */
.arc-c-r {
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  top: 87px;
  left: 543px;
  position: absolute;
  width: 50px;
  height: 247px;
  z-index: 5;
}

.arc-c-l {
  transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  top: 70px;
  left: 384px;
  position: absolute;
  width: 50px;
  height: 247px;
  z-index: 5;
}

.arc-c-t {
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  top: 0px;
  left: 475px;
  position: absolute;
  width: 50px;
  height: 247px;
  z-index: 5;
}

.arc-c-b {
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  top: 161px;
  left: 454px;
  position: absolute;
  width: 50px;
  height: 247px;
  z-index: 5;
}

.arc {
  width: 40px;
  height: 227px;
  border-radius: 0px 65% 65% 0px;
  border-right: 15px solid #398356;
}

.arc-l {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  width: 40px;
  height: 242px;
  left: 376px;
  z-index: 5;
  top: 82px;
  border-radius: 400% 20000000% 20000001% 4000%;
  border-right: 15px solid;
}

.arc-t {
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  width: 40px;
  height: 242px;
  left: 461px;
  z-index: 5;
  top: -2px;
  border-radius: 400% 20000000% 20000001% 4000%;
  border-right: 15px solid;
}

.arc-b {
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  width: 40px;
  height: 242px;
  left: 461px;
  z-index: 5;
  top: 168px;
  border-radius: 400% 20000000% 20000001% 4000%;
  border-right: 15px solid;
}

/*-------------みっつー------------- */
.bigCircle {
  position: absolute;
  width: 261px;
  height: 266px;
  left: 345px;
  top: 58px;
  z-index: 5;
  border-radius: 155px;
  border: solid 12px #398356;
}

/*-------------なおこさん------------- */
.circle {
  position: absolute;
  width: 96px;
  height: 98px;
  border-radius: 50px 50px;
  z-index: 5;
  top: 155px;
  left: 441px;
  background-color: #398356;
}
