html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
}
.white{
  background-color: white;
}
.switch{
  position: absolute;
  background-color:white;
  border: solid 1px black;
  padding: 15px;
  left: 10px;
  z-index: 99;
}

.clear{
  clear: both;
}
.panel{
    /*transform-origin: 200px 200px;
    -moz-animation: spin 7s  infinite alternate;
    -webkit-animation: spin 7s  infinite alternate;
    -o-animation: spin 7s  infinite alternate;
    -ms-animation: spin 7s  infinite alternate;*/
  width: 980px;
  height: 100%;
  position: relative;
  margin: 10% auto;
}
.back{
  display: none;
  background-image: url(TUS_logo.bmp);
  width: 400px;
  height: 400px;
  background-size: cover;
  margin: 0 auto;
  position: relative;
}
.object{
  position: absolute;
  z-index: 2;
}
.bg-color{
  background-color: rgb(57, 131, 86) !important;
  -moz-animation: bg-anime1 7s ease 0s infinite alternate;
  -webkit-animation: bg-anime1 7s ease 0s infinite alternate;
  -o-animation: bg-anime1 7s ease 0s infinite alternate;
  -ms-animation: bg-anime1 7s ease 0s infinite alternate;
}



/*-------------種市-------------*/
.word{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 44px;
}

.C1{
  left: 502px;
  top: 339px;
  transform: rotate(165deg);
  -moz-transform: rotate(165deg);
  -webkit-transform: rotate(165deg);
  -o-transform: rotate(165deg);
  -ms-transform: rotate(165deg);
}
.C2{
  left: 385px;
  top: 318px;
  transform: rotate(213deg);
  -moz-transform: rotate(213deg);
  -webkit-transform: rotate(213deg);
  -o-transform: rotate(213deg);
  -ms-transform: rotate(213deg);
}
.E1{
  left: 628px;
  top: 103px;
  transform: rotate(67deg);
  -moz-transform: rotate(67deg);
  -webkit-transform: rotate(67deg);
  -o-transform: rotate(67deg);
  -ms-transform: rotate(67deg);
}
.E2{
  left: 452px;
  top: 340px;
  transform: rotate(188deg);
  -moz-transform: rotate(188deg);
  -webkit-transform: rotate(188deg);
  -o-transform: rotate(188deg);
  -ms-transform: rotate(188deg);
}
.E3{
  left: 362px;
  top: 301px;
  transform: rotate(221deg);
  -moz-transform: rotate(221deg);
  -webkit-transform: rotate(221deg);
  -o-transform: rotate(221deg);
  -ms-transform: rotate(221deg);
}
.s1 {
  font-size: 39px !important;
  left: 332.2px;
  top: 78px;
  transform: rotate(123deg);
  -moz-transform: rotate(123deg);
  -webkit-transform: rotate(123deg);
  -o-transform: rotate(123deg);
  -ms-transform: rotate(123deg);
  font-size: 51px;
}
.i1 {
  font-size: 39px !important;
  left: 329.2px;
  top: 93px;
  transform: rotate(117deg);
  -moz-transform: rotate(117deg);
  -webkit-transform: rotate(117deg);
  -o-transform: rotate(117deg);
  -ms-transform: rotate(117deg);
  font-size: 49px;
}
.n1 {
  font-size: 39px !important;
  left: 314.2px;
  top: 111px;
  transform: rotate(113deg);
  -moz-transform: rotate(113deg);
  -webkit-transform: rotate(113deg);
  -o-transform: rotate(113deg);
  -ms-transform: rotate(113deg);
  font-size: 51px;
}
.e1{
  font-size: 39px;
  left: 305px;
  top: 156px;
  transform: rotate(91deg);
  -moz-transform: rotate(91deg);
  -webkit-transform: rotate(91deg);
  -o-transform: rotate(91deg);
  -ms-transform: rotate(91deg);
}
.c1{
  font-size: 39px;
  left: 308px;
  top: 134px;
  transform: rotate(98deg);
  -moz-transform: rotate(98deg);
  -webkit-transform: rotate(98deg);
  -o-transform: rotate(98deg);
  -ms-transform: rotate(98deg);
}
.F1{
  left: 572px;
  top: 310px;
  transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -webkit-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
}
.I1{
  font-size: 43px;
  left: 605px;
  top: 54px;
  transform: rotate(47deg);
  -moz-transform: rotate(47deg);
  -webkit-transform: rotate(47deg);
  -o-transform: rotate(47deg);
  -ms-transform: rotate(47deg);
}
.I2{
  font-size: 43px;
  left: 649px;
  top: 194px;
  transform: rotate(98deg);
  -moz-transform: rotate(98deg);
  -webkit-transform: rotate(98deg);
  -o-transform: rotate(98deg);
  -ms-transform: rotate(98deg);
}
.I3{
  font-size: 43px;
  left: 487px;
  top: 342px;
  transform: rotate(178deg);
  -moz-transform: rotate(178deg);
  -webkit-transform: rotate(178deg);
  -o-transform: rotate(178deg);
  -ms-transform: rotate(178deg);
}
.N1{
  left: 572px;
  top: 33px;
  transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -webkit-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
}
.N2{
  left: 417px;
  top: 332px;
  transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -webkit-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
}

.T1{
  left: 368px;
  top: 36px;
  transform: rotate(-39deg);
  -moz-transform: rotate(-39deg);
  -webkit-transform: rotate(-39deg);
  -o-transform: rotate(-39deg);
  -ms-transform: rotate(-39deg);
}
.T2{
  left: 634px;
  top: 219px;
  transform: rotate(106deg);
  -moz-transform: rotate(106deg);
  -webkit-transform: rotate(106deg);
  -o-transform: rotate(106deg);
  -ms-transform: rotate(106deg);
}
.U1{
  left: 539px;
  top: 15px;
  transform: rotate(26deg);
  -moz-transform: rotate(26deg);
  -webkit-transform: rotate(26deg);
  -o-transform: rotate(26deg);
  -ms-transform: rotate(26deg);
}
.O1{
  left: 393.2px;
  top: 18px;
  transform: rotate(-24deg);
  -moz-transform: rotate(-24deg);
  -webkit-transform: rotate(-24deg);
  -o-transform: rotate(-24deg);
  -ms-transform: rotate(-24deg);
}
.O2{
  left: 492px;
  top: 0.3px;
  transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
}
.O3{
  left: 595px;
  top: 288px;
  transform: rotate(-36deg);
  -moz-transform: rotate(-36deg);
  -webkit-transform: rotate(-36deg);
  -o-transform: rotate(-36deg);
  -ms-transform: rotate(-36deg);
}
.R1{
  left: 635px;
  top: 134px;
  transform: rotate(77deg);
  -moz-transform: rotate(77deg);
  -webkit-transform: rotate(77deg);
  -o-transform: rotate(77deg);
  -ms-transform: rotate(77deg);
}
.S1{
  left: 641px;
  top: 167px;
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
.S2{
  left: 535px;
  top: 330px;
  transform: rotate(160deg);
  -moz-transform: rotate(160deg);
  -webkit-transform: rotate(160deg);
  -o-transform: rotate(160deg);
  -ms-transform: rotate(160deg);
}
.K1{
  left: 429.2px;
  top: 4px;
  transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
}
.Y1{
  left: 460.2px;
  top: 0px;
  transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
}
.Y2{
  left: 621px;
  top: 248px;
  transform: rotate(118deg);
  -moz-transform: rotate(118deg);
  -webkit-transform: rotate(118deg);
  -o-transform: rotate(118deg);
  -ms-transform: rotate(118deg);
}
.V1{
  left: 611.2px;
  top: 76px;
  transform: rotate(55deg);
  -moz-transform: rotate(55deg);
  -webkit-transform: rotate(55deg);
  -o-transform: rotate(55deg);
  -ms-transform: rotate(55deg);
}
.num1-1{
  font-family: serif;
  left: 303px;
  top: 193px;
  font-size: 39px;
  transform: rotate(84deg);
  -moz-transform: rotate(84deg);
  -webkit-transform: rotate(84deg);
  -o-transform: rotate(84deg);
  -ms-transform: rotate(84deg);
}
.num1-2{
  font-family: serif;
  left: 329px;
  top: 266px;
  font-size: 39px;
  transform: rotate(57deg);
  -moz-transform: rotate(57deg);
  -webkit-transform: rotate(57deg);
  -o-transform: rotate(57deg);
  -ms-transform: rotate(57deg);
}
.num8-1{
  font-family: serif;
  left: 308px;
  top: 218px;
  font-size: 39px;
  transform: rotate(76deg);
  -moz-transform: rotate(76deg);
  -webkit-transform: rotate(76deg);
  -o-transform: rotate(76deg);
  -ms-transform: rotate(76deg);
}
.num8-2{
  font-family: serif;
  left: 316px;
  top: 243px;
  font-size: 39px;
  transform: rotate(69deg);
  -moz-transform: rotate(69deg);
  -webkit-transform: rotate(69deg);
  -o-transform: rotate(69deg);
  -ms-transform: rotate(69deg);
}
/*-------------たいへい-------------*/
.taihei-c-r{
  position: absolute;
  width: 55px;
  height: 288px;
  top: 59px;
  overflow: hidden;
  left: 508px;
}
.taihei-c-l{
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  position: absolute;
  width: 55px;
  height: 288px;
  top: 59px;
  overflow: hidden;
  left: 414px;
}
.taihei-c-t{
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  position: absolute;
  width: 55px;
  height: 280px;
  top: 15px;
  overflow: hidden;
  left: 461px;
}
.taihei-c-b{
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  position: absolute;
  width: 55px;
  height: 280px;
  top: 112px;
  overflow: hidden;
  left: 461px;
}
.taihei {
  width: 357px;
  height: 401px;
  border-right: 13px solid rgb(57,131,86);
  border-radius: 0px 50% 50% 0px;
  position: absolute;
  z-index: 99;
  left: -315px;
  top: -60px;
}
/*-------------がっ死ー-------------*/
.arc-c-r{
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  top: 87px;
  left: 543px;
  position: absolute;
  width: 50px;
  height: 247px;
  z-index: 5;
}
.arc-c-l{
  transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  top: 70px;
  left: 384px;
  position: absolute;
  width: 50px;
  height: 247px;
  z-index: 5;
}
.arc-c-t{
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  top: 0px;
  left: 475px;
  position: absolute;
  width: 50px;
  height: 247px;
  z-index: 5;
}
.arc-c-b{
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  top: 161px;
  left: 454px;
  position: absolute;
  width: 50px;
  height: 247px;
  z-index: 5;
}
.arc {
  width: 40px;
  height: 227px;
  border-radius: 0px 65% 65% 0px;
  border-right: 15px solid;
}
.arc-l {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  width: 40px;
  height: 242px;
  left: 376px;
  z-index: 5;
  top: 82px;
  border-radius: 400% 20000000% 20000001% 4000%;
  border-right: 15px solid;
}
.arc-t {
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  width: 40px;
  height: 242px;
  left: 461px;
  z-index: 5;
  top: -2px;
  border-radius: 400% 20000000% 20000001% 4000%;
  border-right: 15px solid;
}
.arc-b {
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  width: 40px;
  height: 242px;
  left: 461px;
  z-index: 5;
  top: 168px;
  border-radius: 400% 20000000% 20000001% 4000%;
  border-right: 15px solid;
}
/*-------------みっつー-------------*/
.bigCircle {
  position: absolute;
  width: 261px;
  height: 266px;
  left: 346px;
  top: 58px;
  z-index: 5;
  border-radius: 155px;
  border: solid 12px red;
}
/*-------------なおこさん-------------*/
.circle {
  position: absolute;
  width: 96px;
  height: 98px;
  border-radius: 50px 50px;
  z-index: 5;
  top: 155px;
  left: 441px;
}
/*-------------spin-------------*/
@-moz-keyframes spin {
0% {
   transform: rotate(90deg,90deg);
  -moz-transform: rotate(90deg,90deg);
  -webkit-transform: rotate(90deg,90deg);
  -o-transform: rotate(90deg,90deg);
  -ms-transform: rotate(90deg,90deg);

}
100% {
  transform: rotate(360deg, 360deg);
  -moz-transform: rotate(360deg, 360deg);
  -webkit-transform: rotate(360deg, 360deg);
  -o-transform: rotate(360deg, 360deg);
  -ms-transform: rotate(360deg, 360deg);
}
}

@-webkit-keyframes spin {
0% {
  transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
}
10% {
  transform: rotateX(360deg);
  -moz-transform: rotateX(360deg);
  -webkit-transform: rotateX(360deg);
  -o-transform: rotateX(360deg);
  -ms-transform: rotateX(360deg);
}

40%{
  margin-top: 0px;
}
60%{
  transform-origin: 400px 0px;
  transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
}
70%{
  transform-origin: 400px 400px;
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}
75%{
  opacity: 0.2;
}
85%{
  opacity: 1;
}
}

@-o-keyframes spin {
0% {
  transform: rotate(90deg,90deg);
  -moz-transform: rotate(90deg,90deg);
  -webkit-transform: rotate(90deg,90deg);
  -o-transform: rotate(90deg,90deg);
  -ms-transform: rotate(90deg,90deg);
}
100% {
  transform: rotate(360deg, 360deg);
  -moz-transform: rotate(360deg, 360deg);
  -webkit-transform: rotate(360deg, 360deg);
  -o-transform: rotate(360deg, 360deg);
  -ms-transform: rotate(360deg, 360deg);
}
}

@-ms-keyframes spin {
0% {
  transform: rotate(90deg,90deg);
  -moz-transform: rotate(90deg,90deg);
  -webkit-transform: rotate(90deg,90deg);
  -o-transform: rotate(90deg,90deg);
  -ms-transform: rotate(90deg,90deg);
}
100% {
  transform: rotate(360deg, 360deg);
  -moz-transform: rotate(360deg, 360deg);
  -webkit-transform: rotate(360deg, 360deg);
  -o-transform: rotate(360deg, 360deg);
  -ms-transform: rotate(360deg, 360deg);
}
}
/*-------------カラーセット-------------*/
@-moz-keyframes bg {
0% {background-color: black;}
100% {background-color: darkblue;}
}

@-webkit-keyframes bg {
0% {background-color: black;}
100% {background-color: darkblue;}
}

@-o-keyframes bg {
0% {background-color: black;}
100% {background-color: darkblue;}
}

@-ms-keyframes bg {
0% {background-color: black;}
100% {background-color: darkblue;}
}

/*-------------カラーセット-------------*/

@-moz-keyframes bg-anime1 {
0% {background-color: purple; opacity: 0.4;}
100% {background-color: darkred; opacity: 1;}
}

@-webkit-keyframes bg-anime1 {
0% {background-color: purple; opacity: 0.4;}
100% {background-color: darkred; opacity: 1;}
}

@-o-keyframes bg-anime1 {
0% {background-color: purple; opacity: 0.4;}
100% {background-color: darkred; opacity: 1;}
}

@-ms-keyframes bg-anime1 {
0% {background-color: purple; opacity: 0.4;}
100% {background-color: darkred; opacity: 1;}
}

@-moz-keyframes color-anime1 {
0% {border-color: #d5aaaa; color: #d5aaaa;}
100% {border-color: #55002b; color: #55002b;}
}

@-webkit-keyframes color-anime1 {
0% {border-color: #d5aaaa; color: #d5aaaa;}
100% {border-color: #55002b; color: #55002b;}
}

@-o-keyframes color-anime1 {
0% {border-color: #d5aaaa; color: #d5aaaa;}
100% {border-color: #55002b; color: #55002b;}
}

@-ms-keyframes color-anime1 {
0% {border-color: #d5aaaa; color: #d5aaaa;}
100% {border-color: #55002b; color: #55002b;}
}
/*--------------------------*/
@-moz-keyframes color-anime2 {
0% {border-color: #ea9595; color: #ea9595;}
100% {border-color: #470e2b; color: #470e2b;}
}

@-webkit-keyframes color-anime2 {
0% {border-color: #ea9595; color: #ea9595;}
100% {border-color: #470e2b; color: #470e2b;}
}

@-o-keyframes color-anime2 {
0% {border-color: #ea9595; color: #ea9595;}
100% {border-color: #470e2b; color: #470e2b;}
}

@-ms-keyframes color-anime2 {
0% {border-color: #ea9595; color: #ea9595;}
100% {border-color: #470e2b; color: #470e2b;}
}
/*--------------------------*/
@-moz-keyframes color-anime3 {
0% {border-color: #ff8080; color: #ff8080;}
100% {border-color: #550055; color: #550055;}
}

@-webkit-keyframes color-anime3 {
0% {border-color: #ff8080; color: #ff8080;}
100% {border-color: #550055; color: #550055;}
}

@-o-keyframes color-anime3 {
0% {border-color: #ff8080; color: #ff8080;}
100% {border-color: #550055; color: #550055;}
}

@-ms-keyframes color-anime3 {
0% {border-color: #ff8080; color: #ff8080;}
100% {border-color: #550055; color: #550055;}
}

/*--------------------------*/
@-moz-keyframes color-anime4 {
0% {border-color: #ffbf80; color: #ffbf80;}
100% {border-color: #470e47; color: #470e47;}
}

@-webkit-keyframes color-anime4 {
0% {border-color: #ffbf80; color: #ffbf80;}
100% {border-color: #470e47; color: #470e47;}
}

@-o-keyframes color-anime4 {
0% {border-color: #ffbf80; color: #ffbf80;}
100% {border-color: #470e47; color: #470e47;}
}

@-ms-keyframes color-anime4 {
0% {border-color: #ffbf80; color: #ffbf80;}
100% {border-color: #470e47; color: #470e47;}
}
/*--------------------------*/
@-moz-keyframes color-anime5 {
0% {border-color: #ffff80; color: #ffff80;}
100% {border-color: #2b0055; color: #2b0055;}
}

@-webkit-keyframes color-anime5 {
0% {border-color: #ffff80; color: #ffff80;}
100% {border-color: #2b0055; color: #2b0055;}
}

@-o-keyframes color-anime5 {
0% {border-color: #ffff80; color: #ffff80;}
100% {border-color: #2b0055; color: #2b0055;}
}

@-ms-keyframes color-anime5 {
0% {border-color: #ffff80; color: #ffff80;}
100% {border-color: #2b0055; color: #2b0055;}
}

/*--------------------------*/
@-moz-keyframes color-anime6 {
0% {border-color: #bfea95; color: #bfea95;}
100% {border-color: #2b0e47; color: #2b0e47;}
}

@-webkit-keyframes color-anime6 {
0% {border-color: #bfea95; color: #bfea95;}
100% {border-color: #2b0e47; color: #2b0e47;}
}

@-o-keyframes color-anime6 {
0% {border-color: #bfea95; color: #bfea95;}
100% {border-color: #2b0e47; color: #2b0e47;}
}

@-ms-keyframes color-anime6 {
0% {border-color: #bfea95; color: #bfea95;}
100% {border-color: #2b0e47; color: #2b0e47;}
}

/*--------------------------*/
@-moz-keyframes color-anime7 {
0% {border-color: #bfff80; color: #bfff80;}
100% {border-color: #000055; color: #000055;}
}

@-webkit-keyframes color-anime7 {
0% {border-color: #bfff80; color: #bfff80;}
100% {border-color: #000055; color: #000055;}
}

@-o-keyframes color-anime7 {
0% {border-color: #bfff80; color: #bfff80;}
100% {border-color: #000055; color: #000055;}
}

@-ms-keyframes color-anime7 {
0% {border-color: #bfff80; color: #bfff80;}
100% {border-color: #000055; color: #000055;}
}

/*--------------------------*/
@-moz-keyframes color-anime8 {
0% {border-color: #aad5aa; color: #aad5aa;}
100% {border-color: #0e0e47; color: #0e0e47;}
}

@-webkit-keyframes color-anime8 {
0% {border-color: #aad5aa; color: #aad5aa;}
100% {border-color: #0e0e47; color: #0e0e47;}
}

@-o-keyframes color-anime8 {
0% {border-color: #aad5aa; color: #aad5aa;}
100% {border-color: #0e0e47; color: #0e0e47;}
}

@-ms-keyframes color-anime8 {
0% {border-color: #aad5aa; color: #aad5aa;}
100% {border-color: #0e0e47; color: #0e0e47;}
}

/*--------------------------*/
@-moz-keyframes color-anime9{
0% {border-color: #95ea95; color: #95ea95;}
100% {border-color: #002b55; color: #002b55;}
}

@-webkit-keyframes color-anime9{
0% {border-color: #95ea95; color: #95ea95;}
100% {border-color: #002b55; color: #002b55;}
}

@-o-keyframes color-anime9{
0% {border-color: #95ea95; color: #95ea95;}
100% {border-color: #002b55; color: #002b55;}
}

@-ms-keyframes color-anime9{
0% {border-color: #95ea95; color: #95ea95;}
100% {border-color: #002b55; color: #002b55;}
}

/*--------------------------*/
@-moz-keyframes color-anime10 {
0% {border-color: #80ff80; color: #80ff80;}
100% {border-color: #0e2b47; color: #0e2b47;}
}

@-webkit-keyframes color-anime10 {
0% {border-color: #80ff80; color: #80ff80;}
100% {border-color: #0e2b47; color: #0e2b47;}
}

@-o-keyframes color-anime10 {
0% {border-color: #80ff80; color: #80ff80;}
100% {border-color: #0e2b47; color: #0e2b47;}
}

@-ms-keyframes color-anime10 {
0% {border-color: #80ff80; color: #80ff80;}
100% {border-color: #0e2b47; color: #0e2b47;}
}

/*--------------------------*/
@-moz-keyframes color-anime11 {
0% {border-color: #95eabf; color: #95eabf;}
100% {border-color: #005555; color: #005555;}
}

@-webkit-keyframes color-anime11 {
0% {border-color: #95eabf; color: #95eabf;}
100% {border-color: #005555; color: #005555;}
}

@-o-keyframes color-anime11 {
0% {border-color: #95eabf; color: #95eabf;}
100% {border-color: #005555; color: #005555;}
}

@-ms-keyframes color-anime11 {
0% {border-color: #95eabf; color: #95eabf;}
100% {border-color: #005555; color: #005555;}
}

/*--------------------------*/
@-moz-keyframes color-anime12 {
0% {border-color: #80ffbf; color: #80ffbf;}
100% {border-color: #0e4747; color: #0e4747;}
}

@-webkit-keyframes color-anime12 {
0% {border-color: #80ffbf; color: #80ffbf;}
100% {border-color: #0e4747; color: #0e4747;}
}

@-o-keyframes color-anime12 {
0% {border-color: #80ffbf; color: #80ffbf;}
100% {border-color: #0e4747; color: #0e4747;}
}

@-ms-keyframes color-anime12 {
0% {border-color: #80ffbf; color: #80ffbf;}
100% {border-color: #0e4747; color: #0e4747;}
}

/*--------------------------*/
@-moz-keyframes color-anime13 {
0% {border-color: #95eaea; color: #95eaea;}
100% {border-color: #00552b; color: #00552b;}
}

@-webkit-keyframes color-anime13 {
0% {border-color: #95eaea; color: #95eaea;}
100% {border-color: #00552b; color: #00552b;}
}

@-o-keyframes color-anime13 {
0% {border-color: #95eaea; color: #95eaea;}
100% {border-color: #00552b; color: #00552b;}
}

@-ms-keyframes color-anime13 {
0% {border-color: #95eaea; color: #95eaea;}
100% {border-color: #00552b; color: #00552b;}
}

/*--------------------------*/
@-moz-keyframes color-anime14 {
0% {border-color: #80ffff; color: #80ffff;}
100% {border-color: #0e472b; color: #0e472b;}
}

@-webkit-keyframes color-anime14 {
0% {border-color: #80ffff; color: #80ffff;}
100% {border-color: #0e472b; color: #0e472b;}
}

@-o-keyframes color-anime14 {
0% {border-color: #80ffff; color: #80ffff;}
100% {border-color: #0e472b; color: #0e472b;}
}

@-ms-keyframes color-anime14 {
0% {border-color: #80ffff; color: #80ffff;}
100% {border-color: #0e472b; color: #0e472b;}
}

/*--------------------------*/
@-moz-keyframes color-anime15 {
0% {border-color: #95bfea; color: #95bfea;}
100% {border-color: #005500; color: #005500;}
}

@-webkit-keyframes color-anime15 {
0% {border-color: #95bfea; color: #95bfea;}
100% {border-color: #005500; color: #005500;}
}

@-o-keyframes color-anime15 {
0% {border-color: #95bfea; color: #95bfea;}
100% {border-color: #005500; color: #005500;}
}

@-ms-keyframes color-anime15 {
0% {border-color: #95bfea; color: #95bfea;}
100% {border-color: #005500; color: #005500;}
}

/*--------------------------*/
@-moz-keyframes color-anime16 {
0% {border-color: #80bfff; color: #80bfff;}
100% {border-color: #0e470e; color: #0e470e;}
}

@-webkit-keyframes color-anime16 {
0% {border-color: #80bfff; color: #80bfff;}
100% {border-color: #0e470e; color: #0e470e;}
}

@-o-keyframes color-anime16 {
0% {border-color: #80bfff; color: #80bfff;}
100% {border-color: #0e470e; color: #0e470e;}
}

@-ms-keyframes color-anime16 {
0% {border-color: #80bfff; color: #80bfff;}
100% {border-color: #0e470e; color: #0e470e;}
}

/*--------------------------*/
@-moz-keyframes color-anime17 {
0% {border-color: #9595ea; color: #9595ea;}
100% {border-color: #1d381d; color: #1d381d;}
}

@-webkit-keyframes color-anime17 {
0% {border-color: #9595ea; color: #9595ea;}
100% {border-color: #1d381d; color: #1d381d;}
}

@-o-keyframes color-anime17 {
0% {border-color: #9595ea; color: #9595ea;}
100% {border-color: #1d381d; color: #1d381d;}
}

@-ms-keyframes color-anime17 {
0% {border-color: #9595ea; color: #9595ea;}
100% {border-color: #1d381d; color: #1d381d;}
}

/*--------------------------*/
@-moz-keyframes color-anime18 {
0% {border-color: #8080ff; color: #8080ff;}
100% {border-color: #2b5500; color: #2b5500;}
}

@-webkit-keyframes color-anime18 {
0% {border-color: #8080ff; color: #8080ff;}
100% {border-color: #2b5500; color: #2b5500;}
}

@-o-keyframes color-anime18 {
0% {border-color: #8080ff; color: #8080ff;}
100% {border-color: #2b5500; color: #2b5500;}
}

@-ms-keyframes color-anime18 {
0% {border-color: #8080ff; color: #8080ff;}
100% {border-color: #2b5500; color: #2b5500;}
}
/*--------------------------*/
@-moz-keyframes color-anime19 {
0% {border-color: #bf95ea; color: #bf95ea;}
100% {border-color: #2b470e; color: #2b470e;}
}

@-webkit-keyframes color-anime19 {
0% {border-color: #bf95ea; color: #bf95ea;}
100% {border-color: #2b470e; color: #2b470e;}
}

@-o-keyframes color-anime19 {
0% {border-color: #bf95ea; color: #bf95ea;}
100% {border-color: #2b470e; color: #2b470e;}
}

@-ms-keyframes color-anime19 {
0% {border-color: #bf95ea; color: #bf95ea;}
100% {border-color: #2b470e; color: #2b470e;}
}
/*--------------------------*/
@-moz-keyframes color-anime20 {
0% {border-color: #bf80ff; color: #bf80ff;}
100% {border-color: #555500; color: #555500;}
}

@-webkit-keyframes color-anime20 {
0% {border-color: #bf80ff; color: #bf80ff;}
100% {border-color: #555500; color: #555500;}
}

@-o-keyframes color-anime20 {
0% {border-color: #bf80ff; color: #bf80ff;}
100% {border-color: #555500; color: #555500;}
}

@-ms-keyframes color-anime20 {
0% {border-color: #bf80ff; color: #bf80ff;}
100% {border-color: #555500; color: #555500;}
}
/*--------------------------*/
@-moz-keyframes color-anime21 {
0% {border-color: #ea95ea; color: #ea95ea;}
100% {border-color: #552b00; color: #552b00;}
}

@-webkit-keyframes color-anime21 {
0% {border-color: #ea95ea; color: #ea95ea;}
100% {border-color: #552b00; color: #552b00;}
}

@-o-keyframes color-anime21 {
0% {border-color: #ea95ea; color: #ea95ea;}
100% {border-color: #552b00; color: #552b00;}
}

@-ms-keyframes color-anime21 {
0% {border-color: #ea95ea; color: #ea95ea;}
100% {border-color: #552b00; color: #552b00;}
}

/*--------------------------*/
@-moz-keyframes color-anime22 {
0% {border-color: #ff80ff; color: #ff80ff;}
100% {border-color: #550000; color: #550000;}
}

@-webkit-keyframes color-anime22 {
0% {border-color: #ff80ff; color: #ff80ff;}
100% {border-color: #550000; color: #550000;}
}

@-o-keyframes color-anime22 {
0% {border-color: #ff80ff; color: #ff80ff;}
100% {border-color: #550000; color: #550000;}
}

@-ms-keyframes color-anime22 {
0% {border-color: #ff80ff; color: #ff80ff;}
100% {border-color: rgb(57, 131, 86); color: rgb(57, 131, 86);}
}
/*--------------------------*/
@-moz-keyframes color-anime23 {
0% {border-color: #ea95bf; color: #ea95bf;}
100% {border-color: #470e0e; color: #470e0e;}
}

@-webkit-keyframes color-anime23 {
0% {border-color: #ea95bf; color: #ea95bf;}
100% {border-color: #470e0e; color: #470e0e;}
}

@-o-keyframes color-anime23 {
0% {border-color: #ea95bf; color: #ea95bf;}
100% {border-color: #470e0e; color: #470e0e;}
}

@-ms-keyframes color-anime23 {
0% {border-color: #ea95bf; color: #ea95bf;}
100% {border-color: #470e0e; color: #470e0e;}
}
/*--------------------------*/
@-moz-keyframes color-anime24 {
0% {border-color: #ff80bf; color: #ff80bf}
100%{border-color: #381d1d; color: #381d1d;}
}

@-webkit-keyframes color-anime24 {
0% {border-color: #ff80bf; color: #ff80bf}
100%{border-color: #381d1d; color: #381d1d;}
}

@-o-keyframes color-anime24 {
0% {border-color: #ff80bf; color: #ff80bf}
100%{border-color: #381d1d; color: #381d1d;}
}

@-ms-keyframes color-anime24 {
0% {border-color: #ff80bf; color: #ff80bf}
100%{border-color: #381d1d; color: #381d1d;}
}
/*--------------------------*/
@-moz-keyframes color-anime25 {
0% {border-color: purple; color: purple; opacity: 0.4;}
100%{border-color: darkred; color: darkred; opacity: 1;}
}

@-webkit-keyframes color-anime25 {
0% {border-color: purple; color: purple; opacity: 0.4;}
100%{border-color: darkred; color: darkred; opacity: 1;}
}

@-o-keyframes color-anime25 {
0% {border-color: purple; color: purple; opacity: 0.4;}
100%{border-color: darkred; color: darkred; opacity: 1;}
}

@-ms-keyframes color-anime25 {
0% {border-color: purple; color: purple; opacity: 0.4;}
100%{border-color: darkred; color: darkred; opacity: 1;}
}
/*-------------基本設定-------------*/
.color1{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime1 7s ease 0s infinite alternate;
  -webkit-animation: color-anime1 7s ease 0s infinite alternate;
  -o-animation: color-anime1 7s ease 0s infinite alternate;
  -ms-animation: color-anime1 7s ease 0s infinite alternate;
}
.color2{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime2 7s ease 0s infinite alternate;
  -webkit-animation: color-anime2 7s ease 0s infinite alternate;
  -o-animation: color-anime2 7s ease 0s infinite alternate;
  -ms-animation: color-anime2 7s ease 0s infinite alternate;
}
.color3{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime3 7s ease 0s infinite alternate;
  -webkit-animation: color-anime3 7s ease 0s infinite alternate;
  -o-animation: color-anime3 7s ease 0s infinite alternate;
  -ms-animation: color-anime3 7s ease 0s infinite alternate;
}
.color4{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime4 7s ease 0s infinite alternate;
  -webkit-animation: color-anime4 7s ease 0s infinite alternate;
  -o-animation: color-anime4 7s ease 0s infinite alternate;
  -ms-animation: color-anime4 7s ease 0s infinite alternate;
}
.color5{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime5 7s ease 0s infinite alternate;
  -webkit-animation: color-anime5 7s ease 0s infinite alternate;
  -o-animation: color-anime5 7s ease 0s infinite alternate;
  -ms-animation: color-anime5 7s ease 0s infinite alternate;
}
.color6{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime6 7s ease 0s infinite alternate;
  -webkit-animation: color-anime6 7s ease 0s infinite alternate;
  -o-animation: color-anime6 7s ease 0s infinite alternate;
  -ms-animation: color-anime6 7s ease 0s infinite alternate;
}
.color7{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime7 7s ease 0s infinite alternate;
  -webkit-animation: color-anime7 7s ease 0s infinite alternate;
  -o-animation: color-anime7 7s ease 0s infinite alternate;
  -ms-animation: color-anime7 7s ease 0s infinite alternate;
}
.color8{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime8 7s ease 0s infinite alternate;
  -webkit-animation: color-anime8 7s ease 0s infinite alternate;
  -o-animation: color-anime8 7s ease 0s infinite alternate;
  -ms-animation: color-anime8 7s ease 0s infinite alternate;
}
.color9{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime9 7s ease 0s infinite alternate;
  -webkit-animation: color-anime9 7s ease 0s infinite alternate;
  -o-animation: color-anime9 7s ease 0s infinite alternate;
  -ms-animation: color-anime9 7s ease 0s infinite alternate;
}
.color10{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime10 7s ease 0s infinite alternate;
  -webkit-animation: color-anime10 7s ease 0s infinite alternate;
  -o-animation: color-anime10 7s ease 0s infinite alternate;
  -ms-animation: color-anime10 7s ease 0s infinite alternate;
}
.color11{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime11 7s ease 0s infinite alternate;
  -webkit-animation: color-anime11 7s ease 0s infinite alternate;
  -o-animation: color-anime11 7s ease 0s infinite alternate;
  -ms-animation: color-anime11 7s ease 0s infinite alternate;
}
.color12{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime12 7s ease 0s infinite alternate;
  -webkit-animation: color-anime12 7s ease 0s infinite alternate;
  -o-animation: color-anime12 7s ease 0s infinite alternate;
  -ms-animation: color-anime12 7s ease 0s infinite alternate;
}
.color13{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime13 7s ease 0s infinite alternate;
  -webkit-animation: color-anime13 7s ease 0s infinite alternate;
  -o-animation: color-anime13 7s ease 0s infinite alternate;
  -ms-animation: color-anime13 7s ease 0s infinite alternate;
}
.color14{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime14 7s ease 0s infinite alternate;
  -webkit-animation: color-anime14 7s ease 0s infinite alternate;
  -o-animation: color-anime14 7s ease 0s infinite alternate;
  -ms-animation: color-anime14 7s ease 0s infinite alternate;
}
.color15{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime15 7s ease 0s infinite alternate;
  -webkit-animation: color-anime15 7s ease 0s infinite alternate;
  -o-animation: color-anime15 7s ease 0s infinite alternate;
  -ms-animation: color-anime15 7s ease 0s infinite alternate;
}
.color16{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime16 7s ease 0s infinite alternate;
  -webkit-animation: color-anime16 7s ease 0s infinite alternate;
  -o-animation: color-anime16 7s ease 0s infinite alternate;
  -ms-animation: color-anime16 7s ease 0s infinite alternate;
}
.color17{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime17 7s ease 0s infinite alternate;
  -webkit-animation: color-anime17 7s ease 0s infinite alternate;
  -o-animation: color-anime17 7s ease 0s infinite alternate;
  -ms-animation: color-anime17 7s ease 0s infinite alternate;
}
.color18{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime18 7s ease 0s infinite alternate;
  -webkit-animation: color-anime18 7s ease 0s infinite alternate;
  -o-animation: color-anime18 7s ease 0s infinite alternate;
  -ms-animation: color-anime18 7s ease 0s infinite alternate;
}
.color19{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime19 7s ease 0s infinite alternate;
  -webkit-animation: color-anime19 7s ease 0s infinite alternate;
  -o-animation: color-anime19 7s ease 0s infinite alternate;
  -ms-animation: color-anime19 7s ease 0s infinite alternate;
}
.color20{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime20 7s ease 0s infinite alternate;
  -webkit-animation: color-anime20 7s ease 0s infinite alternate;
  -o-animation: color-anime20 7s ease 0s infinite alternate;
  -ms-animation: color-anime20 7s ease 0s infinite alternate;
}
.color21{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime21 7s ease 0s infinite alternate;
  -webkit-animation: color-anime21 7s ease 0s infinite alternate;
  -o-animation: color-anime21 7s ease 0s infinite alternate;
  -ms-animation: color-anime21 7s ease 0s infinite alternate;
}
.color22{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime22 7s ease 0s infinite alternate;
  -webkit-animation: color-anime22 7s ease 0s infinite alternate;
  -o-animation: color-anime22 7s ease 0s infinite alternate;
  -ms-animation: color-anime22 7s ease 0s infinite alternate;
}
.color23{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime23 7s ease 0s infinite alternate;
  -webkit-animation: color-anime23 7s ease 0s infinite alternate;
  -o-animation: color-anime23 7s ease 0s infinite alternate;
  -ms-animation: color-anime23 7s ease 0s infinite alternate;
}
.color24{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime24 7s ease 0s infinite alternate;
  -webkit-animation: color-anime24 7s ease 0s infinite alternate;
  -o-animation: color-anime24 7s ease 0s infinite alternate;
  -ms-animation: color-anime24 7s ease 0s infinite alternate;
}
.color25{
  border-color: rgb(57, 131, 86) !important;
  color: rgb(57, 131, 86) !important;
  -moz-animation: color-anime25 7s ease 0s infinite alternate;
  -webkit-animation: color-anime25 7s ease 0s infinite alternate;
  -o-animation: color-anime25 7s ease 0s infinite alternate;
  -ms-animation: color-anime25 7s ease 0s infinite alternate;
}
