%html
  %head
    %link{ rel: "stylesheet", type: "text/css", href: "./css/application.css"}
    %script{src: "js/jquery.min.js"}
    %script{src: "js/jquery.arctext.js"}
  %body
    .words
      .T1.object.word.shimmer.grd1
        T
      %span.O1.object.word.shimmer.grd2
        O
      %span.K1.object.word.shimmer.grd3
        K
      %span.Y1.object.word.shimmer.grd4
        Y
      %span.O2.object.word.shimmer.grd5
        O

      %span.U1.object.word.shimmer.grd7
        U
      %span.N1.object.word.shimmer.grd8
        N
      %span.I1.object.word.shimmer.grd9
        I
      %span.V1.object.word.shimmer.grd10
        V
      %span.E1.object.word.shimmer.grd11
        E
      %span.R1.object.word.shimmer.grd12
        R
      %span.S1.object.word.shimmer.grd1
        S
      %span.I2.object.word.shimmer.grd2
        I
      %span.T2.object.word.shimmer.grd3
        T
      %span.Y2.object.word.shimmer.grd4
        Y

      %span.O3.object.word.shimmer.grd6
        O
      %span.F1.object.word.shimmer.grd7
        F

      %span.S2.object.word.shimmer.grd9
        S
      %span.C1.object.word.shimmer.grd10
        C
      %span.I3.object.word.shimmer.grd11
        I
      %span.E2.object.word.shimmer.grd12
        E
      %span.N2.object.word.shimmer.grd1
        N
      %span.C2.object.word.shimmer.grd2
        C
      %span.E3.object.word.shimmer.grd3
        E

      %span.num1-1.object.word.shimmer.grd8
        1
      %span.num8-1.object.word.shimmer.grd7
        8
      %span.num8-2.object.word.shimmer.grd6
        8
      %span.num1-2.object.word.shimmer.grd5
        1

      %span.sm-s1.object.word.shimmer.grd10
        s
      %span.sm-i1.object.word.shimmer.grd11
        i
      %span.sm-n1.object.word.shimmer.grd12
        n
      %span.sm-c1.object.word.shimmer.grd1
        c
      %span.sm-e1.object.word.shimmer.grd9
        e
      .circle

      .arc-c-r
        .color25.arc.object

      .arc-c-t
        .color25.arc.object

      .arc-c-l
        .color25.arc.object

      .arc-c-b
        .color25.arc.object


      .color25.bigCircle
      .color25.taihei-c-r
        .color25.taihei
      .color25.taihei-c-l
        .color25.taihei
      .color25.taihei-c-t
        .color25.taihei
      .color25.taihei-c-b
        .color25.taihei
      .clear



